<mdc-top-app-bar fixed dense [fixedAdjustElement]="mainContent" class="top-app-bar">
  <mdc-top-app-bar-row>
    <mdc-top-app-bar-section align="start" title="Treasury" (click)="menu.open = !menu.open">
      <button mdcTopAppBarNavIcon mdcIconButton icon="menu"></button>
    </mdc-top-app-bar-section>
    <mdc-top-app-bar-section align="end" *ngIf="showImprint">
      <button mdcTopAppBarActionItem mdc-icon-button icon="info" [routerLink]="['imprint']"></button>
    </mdc-top-app-bar-section>
  </mdc-top-app-bar-row>
</mdc-top-app-bar>

<mdc-drawer #menu drawer="dismissible" mdcTopAppBarFixedAdjust>
  <mdc-drawer-content>
    <mdc-list-group>
      <app-menu showImprint="showImprint"></app-menu>
    </mdc-list-group>
  </mdc-drawer-content>
</mdc-drawer>

<div #mainContent mdcDrawerAppContent mdcTopAppBarFixedAdjust>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
