<mdc-app-bar [short]="true" [shortCollapsed]="false" [fixed]="true" [fixedAdjustElement]="mainContent" class="top-app-bar">
  <mdc-app-bar-row>
    <mdc-app-bar-section align="start" title="Treasury" (click)="menu.open()">
      <mdc-icon mdcAppBarNavIcon>menu</mdc-icon>
    </mdc-app-bar-section>
    <mdc-app-bar-section align="end" *ngIf="showImprint">
      <mdc-icon mdcAppBarActionItem [routerLink]="['imprint']">info</mdc-icon>
    </mdc-app-bar-section>
  </mdc-app-bar-row>
</mdc-app-bar>

<mdc-drawer #menu drawer='temporary'>
  <mdc-drawer-content>
    <mdc-list-group>
      <app-menu showImprint="showImprint"></app-menu>
    </mdc-list-group>
  </mdc-drawer-content>
</mdc-drawer>

<div #mainContent>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
