@import "~@angular-mdc/theme/scss/top-app-bar/_mixins.scss";
@import "../sass/variables.scss";

.top-app-bar {
  @include mdc-top-app-bar-fill-color($color-fill);
  z-index: 7;
}

.content-wrapper {
  display: flex;
  position: relative;
  height: 100vh;
  overflow: hidden;

  .drawer {
    position: fixed;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: flex-start;
    height: 100%;
    max-width: 100%;
    width: 100%;
    overflow: auto;
  }
}
