@import "~normalize.css/normalize.css";

/* Bootstrap required imports */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

/* Bootstrap components we use */
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";

/* Variables */
@import "variables";

/* responsive adjustments */
.hidden-xs {
  display: none;
}

@include media-breakpoint-up(md) {
  .hidden-xs {
    display: block;
  }
}

/* General styles */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/* Theming of angular-mdc/web */
@import "~@angular-mdc/theme/material";
@import "angular-mdc";
