# Firebase
.firebaserc
.firebase
firebase-debug.log

# Sonarcloud
.scannerwork

# Angular
treasury/coverage
treasury/dist
treasury/node_modules
treasury/src/environments/environment.*.ts
!treasury/src/environments/environment.test.ts

# documentation
documents/index.html

# misc
notepad.txt
