# Firebase
.firebaserc
.firebase
firebase-debug.log

# Sonarcloud
.scannerwork

# Angular
treasury/dist
treasury/node_modules
treasury/src/environments/environment.*.ts

# documentation
documents/index.html