screenshots/treasury-addmovies-desktop-v1.1.2.png filter=lfs diff=lfs merge=lfs -text
screenshots/treasury-movies-desktop-v1.1.2.png filter=lfs diff=lfs merge=lfs -text
screenshots/treasury-settings-v1.1.2.png filter=lfs diff=lfs merge=lfs -text
