<div class="container-fluid">
  <div class="row">
    <div class="col">
      <p *ngIf="!authService.authenticated">
        Please login by clicking the icon on the right in the header!
      </p>
      <p>
        todo add some general info stuff or public catalogs list
      </p>
      <p>
        <button (click)="buttonClicked()">ADD</button>
      </p>

      <p>the list</p>

      <ul>
        <li *ngFor="let user of users | async">
          {{ user.displayName }}
        </li>
      </ul>

      <!--<p>-->
        <!--the item-->
      <!--</p>-->
      <!--<div>-->
      <!--{{ (item | async)?.displayName }}-->
    <!--</div>-->

    </div>
  </div>
</div>
<router-outlet></router-outlet>
