<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Settings</h1>
      <div class="row">
        <div class="col-6 col-sm-3">
          <strong>Set the value</strong>
        </div>
        <div class="hidden-xs col-sm-6">
          <strong>Description</strong>
        </div>
        <div class="col-6 col-sm-3">
          <strong>Current value</strong>
        </div>
      </div>
      <!-- language for TMDB -->
      <div class="row mb-5">
        <div class="col-6 col-sm-3">
          <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle waves-light" mdbRippleRadius>
              Movie/TV Language
            </button>
            <div class="dropdown-menu dropdown-primary">
              <ng-container *ngFor="let lang of tmdbRegionChoices">
                <a href="javascript:;;" class="dropdown-item" (click)="setTMDBRegion(lang.value)">{{ lang.displayValue }}</a>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="hidden-xs col-sm-6">
          This applies to the added movies or tv shows - their title and images will be saved in the set language. Does not apply to currently existing items in
          your account.<br/>
          If you add an already added movie again with a new region, it gets updated to the new region.
        </div>
        <div class="col-6 col-sm-3">
          {{ tmdbRegion }}
        </div>
      </div>
      <!-- toggle catalog visibility -->
      <div class="row mb-5">
        <div class="col-6 col-sm-3">
          <button type="button" class="btn btn-primary waves-light" (click)="toggleCatalogVisibility()" mdbRippleRadius>
            Set <span *ngIf="isCatalogPublic">invisible</span><span *ngIf="!isCatalogPublic">visible</span>
          </button>
        </div>
        <div class="hidden-xs col-sm-6">
          Sets your whole catalog visible / invisible to the public internet. Requires setting a nickname.
        </div>
        <div class="col-6 col-sm-3">
          <span *ngIf="isCatalogPublic">Visible</span>
          <span *ngIf="!isCatalogPublic">Invisible</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>Backup</h3>
      <app-backup></app-backup>
    </div>
  </div>

  <ng-template #errorModal></ng-template>
</div>
<router-outlet></router-outlet>
