<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Add movie(s):</h1>
      <div class="md-form">
        <input mdbActive type="text" id="form1" class="form-control" [formControl]="movieControl">
        <label for="form1" class="">Enter a movie title...</label>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- TODO maybe list a single result as 6 column, depends on additional information UI -->
    <ng-container *ngFor="let movie of results$ | async">
      <div class="col-2">
        <ng-container *ngIf="movie.getPosterImage('w92') as poster; else noPoster">
          <img [src]="poster" alt="{{movie.title}}"/>
        </ng-container>
        <ng-template #noPoster>
          <div class="no-poster text-center img-thumbnail pt-3">No image available</div>
        </ng-template>
      </div>
      <div class="col-8">
        {{movie.title}}<br />
        <span *ngIf="movie.release_date">{{ movie.release_date }}</span><br />
        {{ movie.credits_actresses }}<br />
        {{ movie.credits_directors }}
      </div>
      <div class="col-2">
        <ng-container *ngIf="movie.error == 200">
          <button
            type="button"
            [ngClass]="{'animated pulse infinite btn-secondary': addingItemsStatus.hasOwnProperty(movie.id) && !addingItemsStatus[movie.id], 'btn-primary': !addingItemsStatus.hasOwnProperty(movie.id)}"
            class="btn btn-sm float-right"
            (click)="addMovie(movie)"
            *ngIf="!addingItemsStatus.hasOwnProperty(movie.id) || addingItemsStatus.hasOwnProperty(movie.id) && !addingItemsStatus[movie.id]"
          >
            <span *ngIf="!addingItemsStatus.hasOwnProperty(movie.id)">Add</span>
            <span *ngIf="addingItemsStatus.hasOwnProperty(movie.id) && !addingItemsStatus[movie.id]">Adding...</span>
          </button>
          <button type="button" class="btn btn-sm btn-dark-green float-right" disabled
                  *ngIf="addingItemsStatus.hasOwnProperty(movie.id) && addingItemsStatus[movie.id]"><i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
          </button>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
<router-outlet></router-outlet>
