.no-poster {
  height: 138px;
  width: 92px;
}

.movie-results {
  .label {
    font-style: italic;
  }
}

.search-input {
  &:not(.mdc-text-field--focused),
  &.mdc-text-field--focused {
    width: 80%;
  }
}
