<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color-dark" [containerInside]="false" *ngIf="authService.authenticated">
  <logo>
    <a class="logo navbar-brand" href="javascript:;;"><strong>Treasury</strong></a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item waves-light" [class.active]="router.url == '/'" mdbWavesEffect>
        <a class="nav-link" (click)="gotoPage('')">Home <span class="sr-only" *ngIf="router.url == '/'">(current)</span></a>
      </li>
      <li class="nav-item waves-light" [class.active]="router.url == '/movies'" mdbWavesEffect>
        <a class="nav-link" (click)="gotoPage('movies')">Movies <span class="sr-only" *ngIf="router.url == '/movies'">(current)</span></a>
      </li>
      <li class="nav-item waves-light" [class.active]="router.url == '/add-movie'" mdbWavesEffect>
        <a class="nav-link" (click)="gotoPage('add-movie')">Add movie <span class="sr-only" *ngIf="router.url == '/add-movie'">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item waves-light" [class.active]="router.url == '/settings'" mdbWavesEffect>
        <a class="nav-link" (click)="gotoPage('settings')">Settings <span class="sr-only" *ngIf="router.url == '/settings'">(current)</span></a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" (click)="authService.logout()">Logout</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color-dark" [containerInside]="false" *ngIf="!authService.authenticated">
  <logo>
      <a class="logo navbar-brand" href="javascript:;;"><strong>Treasury</strong></a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item waves-light" [class.active]="router.url == '/'" mdbWavesEffect>
        <a class="nav-link" (click)="gotoPage('')">Home <span class="sr-only" *ngIf="router.url == '/'">(current)</span></a>
      </li>
      <li class="nav-item waves-light" [class.active]="router.url == '/data-privacy'" mdbWavesEffect>
        <a class="nav-link" (click)="gotoPage('data-privacy')">Data Privacy <span class="sr-only" *ngIf="router.url == '/data-privacy'">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" (click)="authService.login()">Login</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
