<md-toolbar color="primary">
  <span>Custom Toolbar</span>

  <md-toolbar-row>
    <span>Second Line</span>

    <span class="demo-fill-remaining"></span>

    <md-icon class="demo-toolbar-icon">verified_user</md-icon>
  </md-toolbar-row>

  <md-toolbar-row>
    <span>Third Line</span>

    <span class="demo-fill-remaining"></span>

    <md-icon class="demo-toolbar-icon">favorite</md-icon>
    <md-icon class="demo-toolbar-icon">delete</md-icon>
  </md-toolbar-row>
</md-toolbar>
<ul>
  <li *ngIf="(user | async)?.uid">{{ (user | async)?.uid }}</li>
  <li *ngIf="(user | async)?.uid"><img src="{{ (user | async)?.providerData[0].photoURL }}" height="50" *ngIf="(user | async)?.uid"/></li>
  <li *ngIf="(user | async)?.uid">catalog <span *ngIf="(userRecord | async)?.isCatalogPublic">public</span><span *ngIf="!(userRecord | async)?.isCatalogPublic">private</span>
  </li>
</ul>
<button (click)="login()" *ngIf="!(user | async)?.uid">Login</button>
<button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>
