<div class="m-4">
<h1 id="privacy-policy">Privacy Policy</h1>
<p>This document covers which of your private data is stored with this project, why and where.<br>It also outlines which external services we use that might use your private data.</p>
<p>Date of last update: <strong>2018-06-25</strong></p>
<h2 id="general-information">General information</h2>
<ul>
<li>this project relies on <a href="https://firebase.google.com/">Google Firebase</a> and uses the following Firebase services:<ul>
<li>Cloud Firestore for Firebase</li>
<li>Cloud Functions for Firebase</li>
<li>Firebase Authentication</li>
<li>Firebase Hosting</li>
</ul>
</li>
<li>for further information refer to the privacy and security documentation of Google Firebase: <a href="https://firebase.google.com/support/privacy/">https://firebase.google.com/support/privacy/</a></li>
</ul>
<h2 id="which-data-do-we-use-and-why">Which data do we use and why</h2>
<ul>
<li>we only store your user data after you logged in for the first time</li>
<li>we store your user id coming from <em>Firebase Authentication</em> in <em>Cloud Firestore for Firebase</em> for the following purposes<ul>
<li>identification of a user</li>
<li>storing personalized user settings, see <em>User settings</em></li>
<li>storing counters, see <em>User counters</em></li>
</ul>
</li>
<li>the user id is a string that identifies yourself at the chosen authentication provider</li>
<li>a authentication provider can be one or more of the available providers in <em>Firebase Authentication]</em> and depend on the instanceof <strong>treasury</strong> you are using (as <strong>treasury</strong> is a self hosted project and not generally available)</li>
<li>the default authentication provider is Google Sign-In</li>
</ul>
<h3 id="user-settings">User settings</h3>
<ul>
<li>we store the following settings of you<ul>
<li>region, for the displayed language of movie/series titles and every movie/series relevant data we gather from <a href="https://themoviedb.org">The Movie DB</a></li>
<li>catalog visibility, if your catalog of movies/series shall be shown to everyone or only you</li>
<li>nickname, a nickname assigned by yourself for the URL and identification of your public catalog</li>
</ul>
</li>
</ul>
<h3 id="user-counters">User counters</h3>
<ul>
<li>we store the number of movies you add to <strong>treasury</strong></li>
</ul>
<h3 id="movies">Movies</h3>
<ul>
<li>we store all movies that you add to <strong>treasury</strong> and assign them to your user id</li>
<li>we do not share your movie count and details with other users, each user has his own separated movie collection</li>
</ul>
<h2 id="used-external-services">Used external services</h2>
<h3 id="google-fonts">Google Fonts</h3>
<p>We use fonts (&quot;Google Fonts&quot;) provided by Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA.<br>Data privacy statement: <a href="https://www.google.com/policies/privacy/">https://www.google.com/policies/privacy/</a><br>Opt-Out: <a href="https://adssettings.google.com/authenticated">https://adssettings.google.com/authenticated</a></p>
<h2 id="opt-out">Opt out</h2>
<p>To opt-out from <strong>treasury</strong> ask the person who is hosting <strong>treasury</strong> for you to remove all of your data from the Cloud Firestore.<br>Additionally remove the cache from your browser for the domain <strong>treasury</strong> is running on.</p>
</div>
