<section id="movies" class="mt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 mb-3">
        <!-- FIXME should be action bar? -->
        Movies in your collection: {{userService.userCounters.movies}}
      </div>
    </div>
    <div class="row listing d-flex" *ngIf="movies$ | async as movies; else loading">
      <ng-container *ngIf="movies.length > 0">
        <ng-container *ngFor="let item of movies; index as i; last as isLast">
          <div class="item">
            <div class="overlay-effect h-100 w-100 d-flex align-items-start flex-column">
              <div class="p-1 text-center">{{item.title}}</div>
              <button class="mt-auto mx-auto mb-2" mdc-button raised (click)="remove(item)">Remove</button>
            </div>
            <img [src]="item.getPosterImage('w154')" alt="{{item.title}}" />
          </div>
        </ng-container>
      </ng-container>
    </div>
    <ng-template #loading>
      <div class="row">
        <div class="col">
          Loading...
          <mdc-linear-progress></mdc-linear-progress>
        </div>
      </div>
    </ng-template>

    <ng-template #errorModal></ng-template>

  </div>
</section>


<router-outlet></router-outlet>
