@import "../../sass/variables";

footer {
  background: $color-footer-fill;
  color: $color-footer-ink;

  a {
    color: $color-footer-ink;
  }

  .copyright {
    background: $color-footer-fill-dark;
    color: $color-footer-ink-dimmed;
  }

  .title {
    text-transform: uppercase;
  }
}
