<!-- FIXME avoid more than one subscription with async on the same object -->
<!--<section id="catalog" class="mt-3">-->
<!--<div class="container-fluid">-->
<!--<div class="row" *ngIf="(catalog$ | async)?.length > 0; else loading">-->
<!--<ng-container *ngFor="let item of catalog$ | async; index as i; last as isLast">-->
<!--<div class="col-auto mt-1">-->
<!--<div class="item view overlay hm-black-strong">-->
<!--<img class="z-depth-2" [src]="getPostImage(item)" alt="{{item.title}}">-->
<!--<div class="mask flex-center waves-effect waves-light">-->
<!--<p class="white-text">TODO<br>details<br>remove</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</ng-container>-->
<!--</div>-->
<!--<ng-template #loading>-->
<!--<div class="row">-->
<!--<div class="col">-->
<!--Loading...-->
<!--<div class="progress">-->
<!--<div class="indeterminate"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</ng-template>-->
<!--</div>-->
<!--</section>-->

<div *ngIf="catalogService.isCatalogInitialized; else loading">
  <ng-container *ngIf="catalogItemIDs$ | async as catalog">
    <ng-container *ngIf="catalog?.length > 0; else noItems">
      <div *ngFor="let item of catalog">{{item}}</div>
    </ng-container>
    <ng-template #noItems>no items</ng-template>
  </ng-container>
</div>
<ng-template #loading>loading...</ng-template>


<router-outlet></router-outlet>
